# Selenium / browser settings
USER_AGENT=
HEADLESS=true
IMPLICIT_WAIT=10
PAGE_LOAD_SLEEP=5

# Weather target
WEATHER_BASE_URL=https://www.accuweather.com
KATHMANDU_DETAIL_URL=/en.np/kathmandu/241809/current-weather/241809

# Database
POSTGRES_HOST=your_host_here
POSTGRES_PORT=5432
POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=your_dbname_here

# Redis
REDIS_URL=redis://redis:6379/0

# Timezone
TZ=Asia/Kathmandu